# Waiter Tips Prediction with Machine Learning

In [4]:
# Waiter Tips Prediction with Machine Learning project

In [5]:
#libraires

In [27]:
import pandas  as pd
from pycaret.regression import*
import joblib

In [6]:
#take data

In [12]:
df=pd.read_clipboard(sep=",")

In [13]:
# EDA

In [14]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
#see last 5 cell

In [16]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
# see data info

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [19]:
#see df shape

In [20]:
df.shape

(244, 7)

In [21]:
#see df corelations

In [22]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [23]:
# we see most important column is time_study

In [24]:
# see null columns

In [25]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

### modeling

In [26]:
# setup model

In [28]:
setup(data=df,target='total_bill')

In [29]:
# model compare (find best model)

In [30]:
compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

BayesianRidge()

In [31]:
# croos over best model

In [32]:
best_model = create_model('br')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [33]:
#model save

In [34]:
joblib.dump(best_model,"model_total_bill.joblib")

['model_total_bill.joblib']

In [35]:
#sources

-Zafer Acar Notes